<div class="jumbotron text-center">

  <h4>Hello {{user}}</h4>
  <h4>It is {{date}}</h4>

  <div class="form-container">
    <form class="form" ng-submit="send_text()">
      <div class="form-group">
        <label for="msg_input">Chat with ELIZA</label>
        <input type="text" id="msg_input" class="form-control" ng-model="msg_input"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

  <div class="container" ng-show="reveal_msg_history()">
    <h4>Chat history</h4>
    <div ng-repeat="msg in msg_history track by $index">
      <p ng-if="$even">you: {{msg}}</p>
      <p ng-if="$odd">doctor: {{msg}}</p>
    </div>
  </div>

</div>